body{
    font-family: 'Poppins', sans-serif;
    }
    h1{
        font-size: 50px;
    }
    .span-color{
        color: gold;
    }
    section{
        display: flex ;
    }
    .size{
        width: 50%;
        padding-left: 5%;
    }
    .size img{
        width: 90%;
    }