body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    }
    h1{
        font-size: 50px;
    }
    .span-color{
        color: gold;
    }
    section{
        display: flex ;
    }
    .size{
        width: 50%;
        padding-left: 5%;
    }
    .size img{
        width: 90%;}
 
        .link-button {
            text-decoration: none;
            background-color: blue;
            padding: 10px 40px;
            color: rgb(223, 19, 19);
            font-weight: 700;
            border-radius: 5px;
        }
        .banner{
            background-image: url(top-banner.png);
            background-repeat: no-repeat;
        }
